.git
__pycache__
*.pyc
*.pyo
.ipynb_checkpoints
.eggs
*.egg-info
dist
build
.venv
venv
.env
*.pt
*.pth
*.bin
*.onnx
output
outputs
wandb
.ml-cache
.mypy_cache
.pytest_cache
.ruff_cache
.pre-commit-cache
